/* Now we will add the code of global stayling instead of using normalize in the old way  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* we use box-sizing to make all elements include padding and borders in it's height and width so we won't have 2 elements styled with the same height and width but have different sizes */
  box-sizing: inherit; }

/* now we will start adding the styles of fonts to the body to be inherited to all elements */
html {
  font-size: 62.5%; }

body {
  padding: 0 4rem;
  box-sizing: border-box; }

/* we type the keyframes and define the styling of the animation from 0% to 100% and give it a name */
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    letter-spacing: 3.5rem;
    font-weight: 400;
    font-size: 6rem;
    animation: moveLeft 3s ease-in-out; }
  .heading-primary--sub {
    display: block;
    letter-spacing: 1.65rem;
    font-size: 2rem;
    font-weight: 400;
    /* we add the the name of the keyframes and the duration to the animation properity */
    animation: moveRight 3s ease-in-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #777; }

.paragraph {
  font-size: 1.6rem;
  color: #777; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.row {
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-mb-lg {
  margin-bottom: 8rem !important; }

.u-mt-lg {
  margin-top: 8rem !important; }

.u-mb-md {
  margin-bottom: 4rem !important; }

.u-mb-sm {
  margin-bottom: 2rem !important; }

.section-about {
  background-color: #F7F7F7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  padding: 25rem 0;
  transform: skewY(-7deg);
  margin-top: -12rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #F7F7F7;
  padding: 20rem 0;
  margin-top: -11rem; }

.section-stories {
  padding: 15rem 0;
  position: relative; }

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.booking {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url(../../img/nat-10.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .booking__form {
    padding: 6rem;
    width: 50%; }

.btn, .btn:visited, .btn:link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn--white {
  display: inline-block;
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  display: inline-block;
  color: #fff;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  animation: moveUp 1s ease-in-out 0.5s backwards; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  transition: all ease-in-out 0.4s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  padding: .2rem .2rem;
  border-bottom: 1px solid #55c57a;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    /* we could define the height and the width will be defined automatically by the browser */
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* when we set top and left it measures from the left and top borders so we use trnsform to recenter the origin */
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.composition {
  position: relative; }
  .composition__photo {
    border-radius: 2rem;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    outline-offset: 2rem; }
    .composition__photo:hover {
      transform: scale(1.1);
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
      z-index: 1;
      outline: 1.5rem solid #55c57a; }
    .composition__photo--p1 {
      top: -3rem;
      left: 0;
      transition: all .5s; }
    .composition__photo--p2 {
      top: 3rem;
      left: 43%;
      transition: all .5s; }
    .composition__photo--p3 {
      top: 12rem;
      left: 16%;
      transition: all .5s; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  font-size: 1.5rem;
  border-radius: .3rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
  transition: all ease-in-out .5s; }
  .feature-box:hover {
    transform: scale(1.05) translateY(-2rem); }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    color: transparent;
    -webkit-background-clip: text; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 51rem; }
  .card__side {
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    height: 51rem;
    transition: all ease 1s; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-position: top;
    background-size: cover;
    height: 45%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-blend-mode: screen; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../img/nat-7.jpg); }
  .card_heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 70%; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card_details {
    padding: 3rem; }
    .card_details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card_details ul li {
        color: #777;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card_details ul li:not(:last-child) {
          border-bottom: 1px solid #d3cccc; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center; }
  .card__price-box {
    margin-bottom: 5rem; }
  .card__price-only {
    text-transform: uppercase;
    font-size: 1.4rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.story-box {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  color: #777;
  transform: skewX(-20deg);
  backface-visibility: hidden; }
  .story-box > * {
    transform: skewX(20deg);
    backface-visibility: hidden; }
  .story-box__shape {
    width: 15rem;
    height: 15rem;
    position: relative;
    float: left;
    overflow: hidden;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    border-radius: 50%;
    transform: translateX(-3rem) skewX(20deg);
    backface-visibility: hidden; }
  .story-box__image {
    height: 100%;
    transform: translateX(-3.5rem) scale(1.4);
    transition: all ease-in-out 0.5s;
    backface-visibility: hidden; }
  .story-box__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.7rem;
    transform: translate(-50%, 50%);
    transition: all ease-in-out 0.5s;
    backface-visibility: hidden;
    opacity: 0;
    text-align: center; }
  .story-box:hover .story-box__image {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(0.3rem) brightness(80%); }
  .story-box:hover .story-box__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0.25;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  border: none;
  color: #777;
  border-radius: 0.3rem;
  width: 90%;
  display: block;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid transparent;
  transition: all 0.1s; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2); }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.3rem;
  font-weight: 700;
  display: block;
  color: #777;
  margin: 1rem 0 0 2rem;
  transition: all 0.5s; }

.form__input:placeholder-shown + .form__label {
  transform: translateY(-4rem);
  opacity: 0;
  visibility: hidden; }

.form__label-radio {
  text-transform: capitalize;
  color: #777;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  padding-left: 5rem; }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -0.5rem;
  left: 0; }
  .form__radio-button::after {
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    background-color: #55c57a;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s; }

.form__input-radio {
  display: none; }

.form__input-radio:checked ~ .form__label-radio .form__radio-button::after {
  opacity: 1; }

.footer {
  background-color: #333;
  padding: 15rem 0;
  font-size: 1.4rem;
  color: #F7F7F7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    display: inline-block;
    border-top: 1px solid #777;
    padding-top: 2rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #F7F7F7;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.3) rotate(5deg);
    background-color: #333; }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
