@import "../abstracts/variables";

.header {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0,  100% 75vh, 0 100%);
    position: relative;
    @include respond(phone) {
     
      clip-path: polygon(0 0, 100% 0,  100% 80vh, 0 100%);
    }
    // this is responsive images in css to display the suitable image based on resolution and width
    @media (min-resolution:192dpi) and (min-width:37.5em),(min-width:125em) {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.8),
        rgba($color-secondary-dark, 0.8)
      ),
      url(../img/hero.jpg);
    }
    &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;

    }
    &__logo {
      /* we could define the height and the width will be defined automatically by the browser */
      height: 3.5rem;
    }
    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      /* when we set top and left it measures from the left and top borders so we use trnsform to recenter the origin */
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }