@import "../abstracts/variables";
.btn {
    &:visited,
    &:link {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 2rem;
      padding: 1.5rem 4rem;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;
    }
    &--white {
      display: inline-block;
      color: $color-grey-drk;
      background-color: $color-white;
      &::after {
        background-color: $color-white;
      }
    }
    // animation fillmode backwards it means that animation of 0% percent will be applied on the element before animation starts
    &--animated {
      animation: moveUp 1s ease-in-out 0.5s backwards;
    }
  
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-back, 0.2);
      &::after {
        transform: scale(1.5);
        opacity: 0;
      }
    }
    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba($color-back, 0.2);
    }
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -5;
      transition: all ease-in-out 0.4s;
    }
  }