@import "../abstracts/variables";
.btn {
    &:visited,
    &:link {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 2rem;
      padding: 1.5rem 4rem;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;
    }
    &--white {
      display: inline-block;
      color: $color-grey-dark;
      background-color: $color-white;
      &::after {
        background-color: $color-white;
      }
    }
    // animation fillmode backwards it means that animation of 0% percent will be applied on the element before animation starts
    &--animated {
      animation: moveUp 1s ease-in-out 0.5s backwards;
    }
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -5;
      transition: all ease-in-out 0.4s;
    }
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      &::after {
        transform: scale(1.5);
        opacity: 0;
      }
    }
    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
    
  }
  .btn-text{
    &:link,
    &:visited{
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      padding: .2rem .2rem;
      border-bottom: 1px solid  $color-primary;
      transition: all .2s;
    }
    &:hover{
      background-color:  $color-primary;
      color:$color-white;
     transform: translateY(-.2rem);
     box-shadow: 0 1rem 2rem rgba($color-black,.15)
    }
    &:active{
      transform: translateY(0);
      box-shadow: 0 .5rem 1rem rgba($color-black,.15)
    }
    
  }
