.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
 
  &__side {
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .15);
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    height: 50rem;
    transition: all ease 1s;
    &--front {
      background-image: linear-gradient(
          to right,
          rgba($color-secondary-light, 0.8),
          rgba($color-secondary-dark, 0.8)
        ),
        url(../../img/nat-5.jpg);
      background-size: cover;
      background-position: top;
      //  z-index: 1;
    }
    &--back {
      transform: rotateY(180deg);
      &--1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
    //  z-index: 2;
  }
}
