@import "../abstracts/variables";
.composition {
  position: relative;
  &__photo {
     border-radius: 2rem;
    width: 55%;

    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    position: absolute;
    outline-offset: 2rem;
   
    &:hover{
        transform: scale(1.1);
        box-shadow: 0 3rem 6rem rgba($color-black, 0.2);
        z-index: 1;
        outline: 1.5rem solid $color-primary;
    }

    &--p1 {
      top: -3rem;
      left: 0;
      transition: all .5s;
     
     
    }
    &--p2 {
      top: 3rem;
      left: 43%;
      transition: all .5s;
      
    }
    &--p3 {
      top: 12rem;
      left: 16%;
      transition: all .5s;
    
    }
  }
  &:hover &__photo:not(:hover){
      transform: scale(.95);
  }
}
