@import "../abstracts/variables";
@import "../abstracts/mixins";
/* Now we will add the code of global styling instead of using normalize in the old way */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* we use box-sizing to make all elements include padding and borders in it's height and width so we won't have 2 elements styled with the same height and width but have different sizes */
  box-sizing: inherit;
}
/* now we will start adding the styles of fonts to the body to be inherited to all elements */
html {
  // this defines what 1rem IS
  // default-font size = 16px
  // 1 rem == 10px
  font-size: 62.5%; // 10px / 16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9px / 16 = 56.25%
  }
  @include respond(tab-port) {
    // width <900
    font-size: 50%; // 1rem = 8px, 8px / 16 = 50%
  }
  
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12px / 16 = 75%
  }
}
body {
  padding: 0 4rem;
  @include respond(tab-port ) {
    padding: 0;
  }
  box-sizing: border-box;
}
