body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark;
}
.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  &--main {
    display: block;
    letter-spacing: 3.5rem;
    font-weight: 400;
    font-size: 6rem;
    animation: moveLeft 3s ease-in-out;
    @include respond(phone) {
      // width <600
      letter-spacing: 2rem;
      font-size: 5rem;
    }
  }
  &--sub {
    display: block;
    letter-spacing: 1.65rem;
    font-size: 2rem;
    font-weight: 400;
    /* we add the the name of the keyframes and the duration to the animation properity */
    animation: moveRight 3s ease-in-out;
    @include respond(phone) {
      // width <600
      letter-spacing: 0.5rem;
    }
  }
}
.heading-secondary {
  font-size: 3.5rem;

  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  @include respond(tab-port) {
  
    font-size: 3rem;
  }
  @include respond(phone) {
  
    font-size: 2.5rem;
  }
  &:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 1rem 1rem 1rem rgba($color-black, 0.2);
  }
}
.heading-tertiary {
  text-transform: uppercase;
  font-size: $default-font-size;
  font-weight: 700;
  color: $color-grey-dark;
}
.paragraph {
  font-size: $default-font-size;
  color: $color-grey-dark;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
.row {
  color: $color-white;
}
