body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-drk;
}
.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  &--main {
    display: block;
    letter-spacing: 3rem;
    font-weight: 400;
    font-size: 6rem;
    animation: moveLeft 3s ease-in-out;
  }
  &--sub {
    display: block;
    letter-spacing: 1.65rem;
    font-size: 2rem;
    font-weight: 400;
    /* we add the the name of the keyframes and the duration to the animation properity */
    animation: moveRight 3s ease-in-out;
  }
}
.heading-secondary {
  font-size: 3.5rem;

  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  &:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 1rem 1rem 1rem rgba($color-black, 0.2);
  }
}
.row {
  color: $color-white;
}
