.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}
.section-features {
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  padding: 25rem 0;
  transform: skewY(-7deg);
  margin-top: -12rem;
  & > * {
    transform: skewY(7deg);
  }
  // clip-path: polygon(0 20%,100% 0,100% 80%,0 100%);
}
.section-tours {
  background-color: $color-grey-light-1;
  padding: 20rem 0;
  margin-top: -11rem;
}
.section-stories {
  padding: 15rem 0;

  position: relative;
}
.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}
.booking {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.85) 50%,
      transparent 50%
    ),
    url(../../img/nat-10.jpg);
  background-size: cover;
  background-position: top;
  
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.15);
  &__form {
    padding: 6rem;
    width: 50%;
  }
}
